* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #222831;
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  height: 15vh;
  width: 100%;
  position: relative;
  color: #FD7014;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  margin: 0 auto;
  font-size: 8.8vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

nav {
  position: relative;
  display: block;
}

p {
  font-weight: bold;
  color: #FD7014;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
}

.stoper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

button{
  background-color: #FD7014;
  color: #393E46;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.15s;
}

button:hover {
  background-color: #393E46;
  color: #FD7014;
  transition: 0.15s;
  cursor: pointer;
}

main {
  position: relative;
  display: block;
}

table {
  border-collapse: collapse;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

td {
  transition: 0.15s;
  background-size: 100%;
}

td:hover {
  background-color: #393E46;
  transition: 0.15s;
  cursor: pointer;
}

footer {
  height: 15vh;
  width: 100%;
  position: relative;
  clear: both;
  font-size: 4vh;
}
#footer{
  font-size: 3vh;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-one {
  background-image: url("images/one.png");
}

.card-two {
  background-image: url("images/two.png");
}

.card-three {
  background-image: url("images/three.png");
}

.card-four {
  background-image: url("images/four.png");
}

.card-five {
  background-image: url("images/five.png");
}

.card-six {
  background-image: url("images/six.png");
}

.card-seven {
  background-image: url("images/seven.png");
}

.card-eight {
  background-image: url("images/eight.png");
}

.no-border-top {
  border-top: none;
}

.no-border-bottom {
  border-bottom: none;
}

.no-border-left {
  border-left: none;
}

.no-border-right {
  border-right: none;
}

@media screen and (min-width: 1201px) {

  h1 {
    font-size: 8.8vh;
  }

  nav {
    width: 30%;
    height: 70vh;
    float: left;
  }

  p {
    font-size: 7vh;
  }

  .stoper {
    height: 30vh;
    width: 40vh;
  }

  button {
    width: 60%;
    height: 20%;
    border-radius: 10px;
    font-size: 3.5vh;
    border: 0.1vh solid #FD7014;
  }

  main {
    width: 70%;
    height: 70vh;
    float: left;
  }

  td {
    height: 17.5vh;
    width: 17.5vh;
    border: 0.4vh solid #FD7014;
  }
  #footer{
    font-size: 2.5vh;
  }
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 7.8vh;
  }

  nav {
    width: 30%;
    height: 70vh;
    float: left;
  }

  td {
    height: 15.5vh;
    width: 15.5vh;
    border: 0.4vh solid #FD7014;
  }

  p {
    font-size: 5vh;
  }

  .stoper {
    height: 25vh;
    width: 35vh;
  }

  button {
    width: 50%;
    height: 18%;
    border-radius: 10px;
    font-size: 2.5vh;
    border: 0.1vh solid #FD7014;
  }

  main {
    width: 70%;
    height: 70vh;
    float: left;
  }
  #footer{
    font-size: 2vh;
  }
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 6vh;
  }

  td {
    height: 12.5vh;
    width: 12.5vh;
    border: 0.3vh solid #FD7014;
  }

  p {
    font-size: 3vh;
  }

  .stoper {
    height: 20vh;
    width: 30vh;
  }

  button {
    background-color: #FD7014;
    color: #393E46;
    width: 50%;
    height: 18%;
    border-radius: 8px;
    font-size: 2vh;
    border: 0.1vh solid #FD7014;
  }
  #footer{
    font-size: 2vh;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 4.5vh;
  }

  nav{
    width: 100%;
    height: 15vh;
  }

  main{
    width: 100%;
    height: 50vh;
  }

  td {
    height: 11.5vh;
    width: 11.5vh;
    border: 0.2vh solid #FD7014;
  }

  p {
    font-size: 3.5vh;
    position: relative;
  }

  .stoper {
    height: 15vh;
    width: 25vh;
  }

  button {
    background-color: #FD7014;
    color: #393E46;
    width: 50%;
    height: 18%;
    border-radius: 6px;
    font-size: 1.5vh;
    border: 0.1vh solid #FD7014;
  }
  #footer{
    font-size: 2vh;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 4vh;
  }
  nav{
    width: 100%;
    height: 15vh;
  }

  main{
    width: 100%;
    height: 50vh;
  }

  td {
    height: 10.5vh;
    width: 10.5vh;
    border: 0.2vh solid #FD7014;
  }

  p {
    font-size: 3.5vh;
    position: relative;
  }

  .stoper {
    height: 15vh;
    width: 25vh;
  }

  button {
    background-color: #FD7014;
    color: #393E46;
    width: 50%;
    height: 18%;
    border-radius: 6px;
    font-size: 1.5vh;
    border: 0.1vh solid #FD7014;
  }
  #footer{
    font-size: 2vh;
  }
}
